.carts_page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.carts_container{
   min-width: 80vw;
   height: 100%;
   min-height: 80vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   flex: 1;
}

.carts{
    min-width: 300px;
    height: 350px;
    margin: 2rem auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.carts_head{
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px gray solid;
}

.head_carts{
    text-decoration: none;
    width: 80px;
    height: 30px;
    font-size: 1.5rem;
    color: black;
    margin: 5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    background-color: rgb(186, 186, 237);
    text-align: center;
}

.head_carts:hover{
    color: rgb(96, 94, 94);
}

.img_products{
    max-width: 150px;
    max-height: 150px;
    min-height: 150px;
    min-width: 150px;
}

.filter_remove_item{
    width: fit-content;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0.5rem;
}

.filter_remove_item_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.increment{
    width: 30px;
    height: 30px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.decrement{
    width: 30px;
    height: 30px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn_remove_item{
    width: 100px;
    height: 30px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 10px;
}

.counter_id{
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.increment:hover{
    cursor: pointer;
    background-color: rgb(202, 199, 199);
}

.decrement:hover{
    cursor: pointer;
    background-color: rgb(202, 199, 199);
}

.btn_remove_item:hover{
    cursor: pointer;
    background-color: rgb(202, 199, 199);
}

.confirm_buying{
    width: 150px;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: rgb(169, 169, 235);
}

.confirm_buying:hover{
    cursor: pointer;
    background-color: rgb(206, 198, 198);
}

.checkout_main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 80vh;
}

.checkout_container{
    background-color: red;
    width: 100%;
    height: 100%;
}

@media (max-width: 520px) {

    .increment{
        width: 20px;
        height: 20px;
    }

    .decrement{
        width: 20px;
        height: 20px;
    }

    .counter_id{
        width: 20px;
        height: 20px;
    }

    .filter_remove_item_wrapper{
        flex-direction: column;
    }
    .carts{
        min-width: 150px;
        height: 200px;
        margin: 2rem auto;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
    }

    .img_products{
        max-width: 80px;
        max-height: 80px;
        min-height: 80px;
        min-width: 80px;
    }
}