.customerhome_component{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img-responsive{
    max-height: 50vh;
    object-position: center;
    object-fit: contain;
    margin: 1rem auto;
}

.places_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start ;
    align-items: center;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
}

.places_header{
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    font-size: 3rem;
}

.places_card{
    text-decoration: none;
    color: black;
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px black solid;
    border-radius: 10px;

    background: rgba(202, 179, 227, 1.0);
    background: -webkit-radial-gradient(center, rgba(202, 179, 227, 1.0), rgba(126, 149, 216, 1.0));
    background: -moz-radial-gradient(center, rgba(202, 179, 227, 1.0), rgba(126, 149, 216, 1.0));
    background: radial-gradient(ellipse at center, rgba(202, 179, 227, 1.0), rgba(126, 149, 216, 1.0));
}

.places_card:hover{
    cursor: pointer;
    background: rgba(202, 179, 227, 1.0);
    background: -webkit-radial-gradient(center, rgba(202, 179, 227, 1.0), rgba(126, 149, 216, 0.5));
    background: -moz-radial-gradient(center, rgba(202, 179, 227, 1.0), rgba(126, 149, 216, 0.5));
    background: radial-gradient(ellipse at center, rgba(202, 179, 227, 1.0), rgba(126, 149, 216, 0.5));
}

.places_cards_content{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}


@media (max-width: 750px) { 
    .places_card{
        width: 65%;
    }
}

#cars{
    width: 20%;
    height: 15%;
    text-align: center;
    font-size: 1.5rem;
 
}
.places_head{
    margin-left: 35%;
    padding: 1rem;
    font-weight: 600;
    font-size: 3rem;
  

}
.select_items{
    align-items: center;
    margin-left: 2.3%;

}

@media (max-width: 380px) { 
    .select_items{
        align-items: center;
        margin-left: 0%;
    
    }
    .places_head{
        margin-left: 10%;

        text-align: center;

    
    }
    
    
}

