::-webkit-scrollbar {
  width: 0;
}

input::placeholder {
  opacity: 1;
}
.text-d-none {
  text-decoration: none;
}

.button-font {
  font-family: 'Arturo';
}

.winagro-logo {
  width: 100px;
  margin: 0 auto 0.5rem auto !important;
}

.p-button-rounded {
  border-radius: 2rem !important;
}

.spe_btn {
  /* border-radius: 0.5rem !important; */
  background: linear-gradient(91.3deg, #E03538 17.31%, #C4094C 88.09%);
}


.layout {
  background: #f0f0f0;
}

.box {
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  overflow: hidden;
}

.no-outline:focus {
  /* outline: none !important; */
  box-shadow: none !important;
}

ol,
ul {
  padding-left: 0px !important;
  /* margin-left: 2rem; */
}


.links_farmersdata {
  width: 100%;
  text-align: center;
  text-decoration: none;
  /* margin: 1rem 1rem; */
  padding: 50px 55px;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: all 0.2s ease;
  color: #fff;
  font-size: 20px;
  font-family: 'Arturo';
  ;
}

.links_farmersdata:active {
  color: grey;
  font-family: 'Arturo';
  ;
}

.farmerScreen {
  /* background-image: url(./assets/images/basket_fruit.png); */
  /* background-repeat: no-repeat; */
  background-size: cover;
  padding: 3%;
  display: grid;
  /* grid-template-columns: 1fr 1fr  */
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  grid-template-columns: repeat(2, 25%);
  grid-gap: 10px;
  max-width: 100%;
  height: 91vh !important;
  font-family: 'Arturo';
  ;
}

.red {
  /* background: linear-gradient(91.3deg, #E03538 17.31%, #C4094C 88.09%); */
  background-image: url("./assets/images/redBack.png");
}

.green {
  /* background: linear-gradient(105.42deg, #3AA54B 33.61%, #107C55 80.31%); */
  background-image: url("./assets/images/greenBack.png");
}


@media (max-width: 550px) {
  .arrow {
    transform: rotate(90deg);
    /* rotate: 90; */
  }

  .farmerScreen {

    grid-template-columns: 1fr ;
  }

  .links_farmersdata {
    padding: 20px 25px;
    font-size: 15px;
   
  }
}

.test {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-cover {
  background-image: url("./assets/images/marketPeople.webp");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(253, 189, 77, 1) 30%, rgb(110, 190, 113) 100%);
  opacity: 0.7;
  z-index: 2;
}

.test:hover {
  scale: 1.05;
}

.content {
  position: relative;
  z-index: 3;
  color: white;
  padding: 20px;
}

.footer-back {
  background: linear-gradient(179.1deg,rgb(129, 204, 104)  2.3%,   rgb(43, 170, 96) 98.3%);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.text-red{
color: #fe0132;
}