.selected-stalls-details {
  padding: 1rem;
  max-height: 80vh;
  overflow-y: auto;
}

.selected-stalls-details ul {
  list-style-type: none;
  padding: 0;
}

.selected-stalls-details li {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.field {
  margin-bottom: 1rem;
}

.required {
  color: red;
}

.custom-calendar input {
  padding-right: 3rem;
}

.custom-calendar .p-inputtext {
  border-radius: 5px;
  border: 1px solid #ced4da;
  width: 100%;
  padding: 0.5rem;
}

.custom-calendar .p-datepicker-trigger {
  background-color: #28a745;
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  padding: 0.5rem;
}

.custom-calendar .p-datepicker-trigger .pi {
  font-size: 1.2rem;
}

.custom-calendar .p-calendar .p-inputtext {
  width: calc(100% - 2rem);
}

.north {
  transform: rotate(180deg);
}
.south {
  transform: rotate(0deg);
}
.east {
  transform: rotate(90deg);
}
.west {
  transform: rotate(-90deg);
}

.market-container {
  display: flex;
}
.market-container .row{
  flex-direction: row;
}
.market-container .column{
  flex-direction: column;
}

.left-road {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  background-color: #ccc;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  min-width: 50px;
}

.right-road {
  writing-mode: horizontal-tb;
  background-color: #ccc;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .left-road {
    min-width: 40px;
    padding: 5px;
    font-size: 1rem;
    height: auto;
  }

  .right-road {
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 5px;
  }
}

