
* {
    font-family: 'Arturo';
    ;
}

.child {
    padding: 10px;
}

.checklist {

    display: flex;
    flex-direction: row;
    padding: 50px
}

.checkListSolnMain {
    width: 100px;
    height: 100px;

    position: absolute;

    left: 40%;

    top: 30%;


    margin: auto;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    padding-left: 50px;
}

.child {
    margin-left: 20px;
}



.backbtn {
    display: inline-block;
    width: 130px;
    height: 40px;
    margin-top: -570px;
    margin-left: 10px;
    text-align: center;
    padding: 0.5%;
    border-radius: 30%;
    font-size: 15px !important;
    border-radius: 30px !important;
    color: white;
    font-family: karla;
}

.green {
    background: linear-gradient(105.42deg, #3AA54B 33.61%, #107C55 80.31%);
}

.admin_main_component {
    width: 100%;
    height: 100%;

    padding: 50px;
}

.admin_sub_overalldata {
    width: 50%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    margin: 2rem auto;

}

.sub_overalldata {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 90%;
    height: 90%;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
    margin-left: 10px;
}

.admin_secondary_header {
    display: flex;
    height: 10vh;
    width: 99vw;
    margin: 0 1vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box_filter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.overalldata_header {
   
    font-size: 1.8rem;
    font-weight: 500;
    background: linear-gradient(105.42deg, #3AA54B 33.61%, #107C55 80.31%);
    margin: auto;
    color: white;
    border-radius: 10px;
    padding: 10px 60px 10px 10px;
    
    font-family: 'Arturo';
    justify-content: center;
    width: fit-content;

}

.closebtn {
    top: 1.5rem;
    right: 1rem
}

.filter_btn_admin {
    border: none;
    background-color: white;
    margin: 5px;
    display: inline;
}


.customers_count {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #fff;
    background: linear-gradient(105.42deg, #3AA54B 33.61%, #107C55 80.31%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 50%;
    margin: 30px auto auto auto;
   
}

.header_items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header_items_center {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header_items_filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.date_picker {
    display: flex;
    justify-content: center;
    align-items: center;
}



.date_picker_label {
    
    text-align: center;
    margin-bottom: 2rem;
    font-size: 15px;
}

.filter-market {
    font-size: 15px;
    font-family: 'Arturo';
    
}

.cards_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.card_layout {
    box-shadow: #3AA54B 0px 1px 10px;
    margin: 1rem;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid #3AA54B;
    border-radius: 50%;
}

.filter_btn {
    padding: 0.5rem;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #3AA54B;
    cursor: pointer;
    color: #fff;
    margin-top: 40px;

}

.filter_btn1 {
    right: 0rem;
    padding: 0.5rem;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #3AA54B;
    cursor: pointer;

    color: #fff;
    margin-top: 40px;

}



.farmers_data_entries {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    min-width: 100vw;
}

.cancellation_feed {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    min-width: 100vw;
}

.farmers_entries {
    width: 90%;
    height: 80vh;
    margin: 1rem auto;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cancellation_feed_container {
    width: 90%;
    height: 80vh;
    margin: 1rem auto;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.farmers_entries_nav {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #3aa54c;
    justify-content: space-around;
    width: 100%;
}

.farmers_entries_body {
    overflow: auto;
    flex: 1;
    height: 70vh;
}

.farmers_entries_section {
    display: flex;
    align-items: center;
    height: 10vh;
    border-bottom: 1px black solid;
    justify-content: space-around;
    width: 100%;
}

.farmers_entries_nav_farmername {
    text-align: center;
    font-size: 1.4rem;
}

.farmers_entries_nav_farmerstype,
.farmers_entries_nav_farmersContact,
.farmers_entries_nav_farmersaddress {
    text-align: center;
    font-size: 1.4rem;
}

.cancellation_header {
    text-align: center;
    height: 8vh;
    padding: 1rem;
    background-color: #3aa54b;
}

.cancellation_body {
    width: 100%;
    height: 72vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cancellation_card {
    font-size: 1.2rem;
    width: 300px;
    height: 300px;
    padding: 1.5rem;
    margin: 1rem;
    background-color: rgb(178, 223, 208);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.quantity>h2 {
    padding-left: 70px;
}

.amount>h2 {
    padding-left: 70px;
}

.quantity {
    margin-top: 15px;
    margin-left: 10px;
    position: relative;
    left: 40px;
    width: 25%;
}

.amount {
    margin-top: 15px;
    margin-left: 10px;
    width: 25%;
}

.refund_btn_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.refund_btn {
    width: 150px;
    border: none;
    padding: 0.2rem;
    border-radius: 10px;
}

.refund_btn:hover {
    cursor: pointer;
    background-color: rgb(201, 186, 186);
}

.admin_links {
    margin: 0 auto auto auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    min-height: 15vh;
    padding: 0 2rem 2rem 2rem;
}

.admin-links {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.book-btn-section {
    padding: 3rem;
    margin-top: 1rem;
    text-align: center;
}

.book-btn-section>h1 {
    font-size: 30px;
    font-weight: 800;
}

@media (max-width: 798px) {
    .cancellation_card {
        margin: 1rem auto;
    }

    .card_layout {
        width: 80px;
        height: 80px;
    }

    .cards_container {
        margin: 2rem 0 1.5rem 0;
        width: 100%;
        padding: 0;

    }

    .admin_links {
        padding: 2rem;
        margin: 1rem;
        width: 100%;
    }

    .admin-links {
        align-items: center;
        flex-wrap: wrap;
        margin-top: 3rem;
    }
}



.farmers-stats-main {
    border: 1px solid #3AA54B;
    padding: 20px;
    border-radius: 20px;
    width: 70vw;
    margin: 2rem auto 0 auto;
    position: relative;
}

.total-number {
    font-size: 30px;
}

.tag {
    font-size: 20px !important;
}

.farmers-stats-holder {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.card-content {
    margin-bottom: 0 !important;
}

.total-stall-market {
    border-right: 2px dashed #3AA54B;
    padding: 25px 60px 0 0;
    width: 30%;
}

.total-customers {
    border: 1px solid #3AA54B;
    padding: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    margin-bottom: 20px;
    position: relative;
    margin-top: 5rem;
}
.total-customers h2{
    top: -13%;
}

.stats {
    position: absolute;
    left: 10rem;
    right: 13rem;
    top: -5%;
    display: flex;
    width: fit-content;
}

.farmers-type {
    position: absolute;
    left: 10rem;
    right: 13rem;
    top: -7%;
    width: fit-content;
}

.no-consumers {
    position: absolute;
    left: 7vw;
    right: 10vw;
    top: -9%;
    width: fit-content;
}

.twoDetails {
    min-width: 25rem;
    display: flex;
    justify-content: center;
    color: white;
}

.two {
    width: 100%;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    margin-left: 0px;
}
.one{
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
 
    margin-left: 300px;
}
.one a{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-right:0px;
    margin-bottom: 40px;
}


.admin_links_details {
    background: linear-gradient(105.42deg, #3AA54B 33.61%, #107C55 80.31%);
    border-radius: 100px;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
    font-size: 1.5rem;
    
    font-family: 'Arturo';
}

.circularbar {
    width: 70%;
    height: 60%;
    font-size: 1rem;
}

.CircularProgressbar-text {
    text-anchor: middle;
}
.farmers-stats-main{
    margin-bottom: 100px;
}


.admin_link {
    background: linear-gradient(105.42deg, #3AA54B 33.61%, #107C55 80.31%);
    border-radius: 50px;
    color: white;
    padding: 20px 40px;
    margin-right: 15px;
    font-size: 1.5rem;
    
    font-family: 'Arturo';
}


@media (max-width: 550px) {
    .header_items {
        flex-direction: column;
    }

    .filter_btn {
        margin-top: 1rem;
    }

    .header_items_center {
        flex-direction: column;
    }

    .date_picker_label {
        font-size: 1rem;
    }

    .one {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 80px;
    }



    .admin_main_component {
        padding: 20px;
    }

    .farmers-stats-main {
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 53px;
        width: 90vw;
    }
    .farmers-stats-main h2{
        font-size: 18px;
           
    }
    .farmers-stats-main h3{
        font-size: 18px;
        top: -13%;
    }
    .overalldata_header {
        font-size: 1rem;
        font-weight: 400;
        padding: 5px 6px 5px 6px;
        border-radius: 7px;
    }

    .farmers-stats-holder {
        padding: 0px;
        flex-wrap: wrap;
    }

    .total-stall-market {
        border-right: 3px dashed #3AA54B;
        padding: 0px 0px 0 0;
        margin-top: 2.5rem;
    }

    .total-number {
        font-size: 20px;
    }

    .tag {
        font-size: 10px !important;
        line-height: normal !important;
    }

    .customers_count {
        width: 80px;
        height: 80px;
        font-size: 3rem;
        margin: 20px auto auto auto;
    }

    .admin_links {
        width: 100%;
        padding: 0;
    }


    .two {
        flex-direction: column;
        width: 100%;
        margin-left: 0rem;
        margin-top: 0px; 
    }
    .two a{
        font-size: 12px;
    }
    .one a{
        margin-bottom: 19px;
    }

    .admin_links_details {
        margin-right: 0;
        margin-bottom: 19px;
        font-size: 1rem;
        text-align: center;
        font-weight: 400;
        min-width: 25rem;
    }

    .farmers-type {
        top: -8%;
        left: 5rem;
        right: 5rem;
    }

    .total-customers {
        width: 70vw !important;
        padding: 20px 20px 30px 20px;
    }

    .no-consumers {
        left: 2rem;
        right: 2rem;
        top: -7%;
    }

    .stats {
        top: -6%;
        left: 5rem;
        right: 5rem;
    }
    .farmers-stats-holder span{
        font-size: larger;
    }

    .quantity>h2 {
        font-size: 10px;
        padding-left: 25px;
    }
    .amount>h2 {
        font-size: 10px;
        padding-left: 25px;
    }

    .sub_overalldata {
        font-size: 6px;
    }
    .sub_overalldata h1 {
        padding: 15px;
    }
    .sub_overalldata text {
        font-size: 20px;
    }
    

    .quantity {
        width: 30%;
        margin-right: 1.5rem;
        margin-left: 0;
        left: 10px;
    }

    .amount {
        width: 30%;
    }

    .book-btn-section {
        margin-top: 5rem !important;
        padding: 2rem !important;
        margin-bottom: 2rem;
        text-align: center;
        line-height: 5 !important;
        color: white;
        background: linear-gradient(91.3deg, #E03538 17.31%, #C4094C 88.09%);
    }

    .book-btn-section>h1 {
        font-size: 1.5rem !important;
        font-weight: 600;
        font-display: block;
        line-height: 2;
    }

    .book-btn-section>h2 {
        font-size: 1rem !important;
        font-weight: 600;
        font-display: block;
        line-height: 2;
    }

    .chart-container {
        width: 100vw !important;
        height: 60% !important;
        ;
    }

    .graphbar {
        position: absolute;
        right: 2rem;
        top: 5rem;
    }
    .total-customers h2{
        font-size: 18px;
        text-align: center;
        left: 7%;
        top: -17%;
        
    }
}

@media only screen and (min-width: 768px) {
    .farmers-stats-main {
        width: 90vw;
    }

    .overalldata_header {
        padding: 10px;
    }



    .total-number {
        font-size: 25px;
    }

    .cards_container {
        justify-content: space-between;
    }

    .no-consumers {
        left: 25%;
    }

}

@media only screen and (min-width: 889px) {
    .farmers-stats-main {
        width: 70vw;
    }

    .stats {
        left: 27vw;
        right: 27vw;
    }

    .cards_container {
        justify-content: center;
    }

    .farmers-type {
        left: 27vw;
        right: 27vw;
    }

    .total-customers {
        width: 40vw;
    }

}

.year {
    padding-top: 40px;
    padding-left: 270px;
    margin-top: auto;
    margin-bottom: 30px;
    width: 50px;
    height: 100px;

}
.year button{
    margin-top: 10px;
}

.dropdown {
    height: 50px;
    font-size: 20px;
    border: 1px solid black;
}



.graphbar{
    width: 60em !important;
    height: 30em !important;
    margin: auto !important;
  }
.adminrev-body {
    background-color: #d3d3d3;
    height: 100vh;
}

.chart-container {
    position: relative;
    height: 60%;
    width: 60%;
    margin: auto;
    padding-left: 5rem;
    padding-bottom: 2rem;
}
.pageBottom{
    height: 100px;
  }
  @media(max-height: 700px){
    .pageBottom {
      height:150px;
    }
  }
@media(max-width: 750px){
  .flag4 iframe{
    height: 3790px;
  }
}
@media(max-width: 750px){
    .flag1 iframe{
        height: 1382px;
    }
}

.flagOptions{
    background-image: url(../images/farmers_bgnd.png);
    display: grid;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    grid-template-columns: repeat(2, 25%);
    grid-gap: 10px;
    max-width: 100%;
    height: 87vh !important;
    font-family: 'Arturo';

}
.flagOptions div{
    border: 2px solid black;
    border-radius: 30px;
    height: 100px;
    margin-right: 200px;
    text-align: center;
    align-items: center;
    background-color: #C4094C;
}
.flagOptions h2{
    color: white;
    padding-top: 20px;
}
.flagOptions div:hover{
    cursor: pointer;
    background-color: #E03538;
}
.leaveBox{
    width: 1000px;
    margin-left: 550px;
    margin-top: 50px;
}
.leaveBox h2{
    margin-inline-start: 150px;
}

@media (max-width: 490px){
    .flagOptions{
        padding-top: 9rem;
    padding-bottom: 5rem;
    padding-right: 17rem;
        height: 100vh;
        width: 100vw;
        grid-template-columns: repeat(1, 50%);
        font-family: 'Arturo';
      
    }
    .flagOptions div{
        width: 300px;
        border: 2px solid black;
        height: 100px;
        
        text-align: center;
        background-color: #C4094C;
        margin-bottom: 50px;
    }
    .flagOptions h2{
        margin-top: 13px;
    }
    #f2{
        background-color: #0e9222;
    }
    .leaveBox{
        width: 250px;
        margin-left: 80px;
        margin: 50px, 100px, 50px, 0px;
    }
    .leaveBox h1{
        margin-inline-start:50px;
    }
    .flag1 div{
        width: 50px;
    }
    .MuiGrid-root button{
        
        width: 107px;
        margin-top: 8px;
        right: 10px;
        color: white;
        
        font-size: 17px;
        display: inline-block;
        border-style: unset;
        border-radius: 30px;
    
    }
}
#f2{
    background-color: #0e9222;
}
.filterButton{
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    margin-top: 6px;
    align-items: flex-end;
}
.adminAlign{
    display: flex;
}
.farmers-stats-main h2{
    text-align: center;
    top: -8%;
}
.sub_overalldata span{
    font-size: 17px;
}
.two a{
    font-size: 17px;
}
.farmers-stats-main h3{
    
    top: -17%;
}
.farmers-stats-main h2{
    top: -6%;
}

.main{
    justify-content: center;
    margin-left: 500px;
    margin-bottom: 3rem;
}
.main button{
    margin-left: 15px;
    
   
}
.inner-child{
    margin-top: 15px;
}
.head h1{
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.closebtn{
    width: 20px;
    background-color: #fff;
}