*{
    font-family:  'Arturo';;
}
.advance_main_container {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
}


.advance_component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.advance_date{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
}

.select_market {
    justify-content: center;
    align-items: center;
    margin: 20px 0;
   
}

.select_market h2 {
    font-size: 20px;
    font-weight: 500;
}


.show{
    display: block;
}

.hide {
    display: none;
}