*{
  font-family:  'Arturo';;
}
.bookings_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 87vh;
    width: 100vw;
    margin-top: 13vh;
  }
  
  .vendor_form{
    width: 20rem;
    height: 20rem;
    background-color: rgb(121, 196, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    border: 1px green solid;
    border-radius: 50%;
    letter-spacing: 5px;
    transition: all .3s ease;
    flex-direction: row;
    margin: 0 2rem;
  }
  .book_stall{
    width: 20rem;
    height: 20rem;
    background-color: rgb(121, 196, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    border: 1px green solid;
    border-radius: 50%;
    letter-spacing: 5px;
    transition: all .3s ease;
    flex-direction: row;
    margin: 0 2rem;
  
  }
  
  .vendor_form:hover{
    transform: translateY(-10px) scale(1.1);
  }
  
  .book_stall:hover{
    transform: translateY(-10px) scale(1.1);
  }
  
  
  @media screen and (max-width:600px) {
    .bookings_main{
      flex-direction: column;
    }
    .book_stall{
      height: 10rem;
      width: 10rem;
      font-size: .8rem;
      text-align: center;
    }
    .vendor_form{
      height: 10rem;
      width: 10rem;
      font-size: .8rem;
      text-align: center;
    }
  }
  .bookeda{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  
  .bookedseat {

    border: 1px solid rgb(149, 155, 151);
    background-color:rgb(186, 194, 184);
    border-radius: 10%;
    text-align: center;
    width: 50px;
    height: 30px;
    padding: 5px;
    margin: 15px;
    
  }
  .availa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .selectedseat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .selectseat {
    border: 1px solid rgb(149, 155, 151);
    border-radius: 10%;
    background-color: #a9ec92;
    text-align: center;
    width: 50px;
    height: 30px;
    padding: 5px;
    margin: 15px;
  }
  
  .availseat {
    border: 1px solid rgb(149, 155, 151);
    border-radius: 10%;
    background-color: white;
    text-align: center;
    width: 50px;
    height: 30px;
    padding: 5px;
    margin: 15px;
  
  }