* {
  font-family:  'Arturo';;
}
.admin_links_details {
  margin-right: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  min-width: 25rem;
}
    .farmerDataLabel {
      text-align: center;

      font-size: 15px !important;
      margin-bottom: 5px !important;
      color: rgba(0, 0, 0, 0.6);
      font-family: 'Arturo';
    }
    .searchButton {
      position: sticky;
      justify-items: center;
      left: 55rem;
      margin-top: 1rem;
    }
.farmers_page {
  height: 100%;
  width: 100%;
  
  font-size: 1.5rem;
  font-family:  'Arturo';;
}
.input-div-holder-new{
  align-items: flex-end;
  padding-right: 10.5rem;
  padding-left: 8rem;
  font-family:  'Arturo';;
}

.farmers_navigate {
  position: fixed;
  left: 0px;
  bottom: 0;
  margin-top: 13vh;
  z-index: 1000;
  min-height: 90vh;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0px 50px;
  font-family:  'Arturo';;
}

.links_farmersdata {
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 1rem 1rem;
  padding: 50px 55px;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: all 0.2s ease;
  color: #fff;
  font-size: 20px;
  font-family:  'Arturo';;
}

.links_farmersdata:active {
  color: grey;
  font-family:  'Arturo';;
}

.farmerScreen {
  background-image: url(../images/farmers_bgnd.png);
  display: grid;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  grid-template-columns: repeat(2, 25%);
  grid-gap: 10px;
  max-width: 100%;
  height: 87vh !important;
  font-family:  'Arturo';;
}
.backbtndiv{
      margin-top: 30px;
      
      margin-right: 1rem;
      margin-bottom: 0.5rem;
}
.backbtn {
  display: inline;
  margin-top: -570px;
  
  text-align: center;
  border-radius: 30%;
  font-size: 15px !important;
  border-radius: 30px !important;
  color: white;
  font-family:  'Arturo';;
  
  width: 10rem;
  padding: 1rem 1.5rem !important;
  font-family:  'Arturo';;
}

.backbtnflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}




.farmers_data {
  height: 50%;
 
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family:  'Arturo';;
}

.inwardData {

  height: 70%;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  font-family:  'Arturo';;
}

.farmers>h1 {

  text-align: center;
  color: #3aa54b;
  font-weight: 600;
  font-family:  'Arturo';;
}

.outwardData {

  height: 70%;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  font-family:  'Arturo';;
}

.second-row {
  height: 70%;
  
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family:  'Arturo';;
}

.bar {
  margin: 10rem 3rem;
  width: 50% !important;
  height: 50% !important;
  font-family:  'Arturo';;
}

.farmersdata_container {
  width: fit-content;
  height: 90%;
  overflow: auto;
  margin: 1rem;
  padding: 1rem;
  font-family:  'Arturo';;
}

.farmerdata_items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  border: 2px solid #3aa54b;
  border-radius: 20px;
  margin-top: 15px;
  font-family:  'Arturo';;
}

.farmerdata_items>p {
  margin-top: 5px;
  font-family:  'Arturo';;
}

.goback_btn {
  position: absolute;
  top: 0;
  left: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  width: 10rem;
  text-decoration: none;
  text-align: center;
  font-family:  'Arturo';;
}

.data_container {
  background-image: url(../images/inward_backG.jpg);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 5rem;
  font-family:  'Arturo';
}

.goback_btn:hover {
  background-color: rgb(197, 183, 183);
  cursor: pointer;
  font-family:  'Arturo';;
}

.stall_container {
  background-color: rgba(255, 217, 0, 0.857);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  'Arturo';;
}

.farmers_close_navigate {
  position: fixed;
  left: 0;
  top: 13vh;
  z-index: 100;
  min-height: 87vh;
  width: 3%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
  font-family:  'Arturo';;
}

.close_btn {
  position: absolute;
  right: 0px;
  top: 50%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 0.5rem;
  font-family:  'Arturo';;
}

.close_btn:hover {
  cursor: pointer;
}

.places_market_container {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:  'Arturo';;

}

.places_wrapper {
  flex: 1;
  width: 80%;
  min-height: 80vh;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-family:  'Arturo';;
}

.main_header_places {
  margin: 1rem 2rem 0rem 2rem;
  text-align: center;
  font-size: 2rem;
  color: rgb(109, 104, 104);
  font-family:  'Arturo';
  font-weight: bold;
}

.places_market_component0 {
  min-width: 30%;
  height: 150px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  background-color: rgb(230, 165, 45);
  font-family:  'Arturo';;
}

.places_market_component1 {
  min-width: 30%;
  height: 150px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  background-color: rgb(224, 75, 64);
  font-family:  'Arturo';;
}

.places_market_component2 {
  min-width: 30%;
  height: 150px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  background-color: rgb(70, 227, 70);
  font-family:  'Arturo';;
}

.places_market_component3 {
  min-width: 30%;
  height: 150px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  background-color: rgb(45, 230, 230);
  font-family:  'Arturo';;
}

.places_market_component0:hover {
  cursor: pointer;
  background-color: rgb(213, 201, 179);
  font-family:  'Arturo';;
}

.places_market_component1:hover {
  cursor: pointer;
  background-color: rgb(204, 172, 163);
  font-family:  'Arturo';;
}

.places_market_component2:hover {
  cursor: pointer;
  background-color: rgb(188, 212, 171);
  font-family:  'Arturo';;
}

.places_market_component3:hover {
  cursor: pointer;
  background-color: rgb(213, 201, 179);
  font-family:  'Arturo';;
}

.places_headers {
  color: white;
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  font-family:  'Arturo';;
}

.image_1 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.3;
}

.image_1:hover {
  opacity: 0.6;
}

.select_modal_component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family:  'Arturo';;
}

.select_modal_header {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  font-family:  'Arturo';;
}



.select_modal_numbers {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family:  'Arturo';;
}

.select_numbers {
  width: 30px;
  height: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family:  'Arturo';;
}

.select_modal_numbers_selected {
  width: 30px;
  height: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(251, 156, 172);
  font-family:  'Arturo';;
}

.select_numbers:hover {
  background-color: rgb(251, 156, 172);
  cursor: pointer;
  font-family:  'Arturo';;
}

.select_modal_button {
  background-color: rgb(251, 115, 137);
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: white;
  letter-spacing: 2px;
  margin-top: 20px;
  font-family:  'Arturo';;
}

.select_modal_button:hover {
  cursor: pointer;
  font-family:  'Arturo';;
}
.add-submit{
  display: flex;
  justify-content: center;
  
}

@media (max-width: 1080px) {
  .farmers_navigate {
    margin-top: 6vh;
    padding-top: 2rem;
    font-family:  'Arturo';
  }
     .searchButton {
       left: 35rem;
     }
    .add-submit{
      display: flex;
      justify-content: center;
      
    }
}

@media (max-width: 900px) {
  .searchButton {
      left: 30rem;
    }
  .farmers_navigate {
    margin-top: 6vh;
    font-family:  'Arturo';;
  }

  .places_market_component0 {
    width: 40%;
    font-family:  'Arturo';;
  }

  .places_market_component1 {
    width: 40%;
    font-family:  'Arturo';;
  }

  .places_market_component2 {
    width: 40%;
    font-family:  'Arturo';;
  }

  .places_market_component3 {
    width: 40%;
    font-family:  'Arturo';;
  }
}

@media (max-width: 798px) {
  
  .searchButton{
        left: 30rem;
  }
  .inwardData {
    width: 80%;
    border-bottom: 1px black solid;
    margin-top: 1rem;
    font-family:  'Arturo';;
  }
  .backbtndiv {
    margin-top: 4px;
}

  .outwardData {
    width: 80%;
    border-bottom: 1px black solid;
    font-family:  'Arturo';;
  }

  .farmers>h1 {
    margin-top: 3rem;
    font-family:  'Arturo';;
  }

  .second-row {
    width: 100%;
    font-family:  'Arturo';;
  }

  .farmersdata_container {
    width: 100%;
    padding: 0;
    font-family:  'Arturo';;
  }

  .bar {
    width: 100% !important;
    padding: 0 2rem;
    height: 100% !important;
    font-family:  'Arturo';;
  }


  .places_wrapper {
    margin-top: 1rem;
    font-family:  'Arturo';;
  }

  .places_market_component0 {
    width: 45%;
    font-family:  'Arturo';;
  }

  .places_market_component1 {
    width: 45%;
    font-family:  'Arturo';;
  }

  .places_market_component2 {
    width: 45%;
    font-family:  'Arturo';;
  }

  .places_market_component3 {
    width: 45%;
    font-family:  'Arturo';;
  }

  .farmers_data {
    flex-direction: column;
    width: 100%;
    height: 40%;
    justify-content: flex-start;
    align-items: center;
    font-family:  'Arturo';;
  }



  .farmers_close_navigate {
    display: none;
    width: 0;
    font-family:  'Arturo';;
  }

  .farmers {
    height: 100%;
    width: 100%;
    font-family:  'Arturo';;
  }

  .farmers_navigate {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 4rem;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 0.6rem;
    text-align: center;
    font-family:  'Arturo';;
  }

  .close_btn {
    display: none;
    width: 0;
    font-family:  'Arturo';;
  }
}

@media (max-width: 550px) {
  
.data_container {
    padding-top: 0;
  }
  .farmerScreen {
    padding-top: 9rem;
    padding-bottom: 18rem;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(2, 40%);
    font-family:  'Arturo';;
  }

  .places_market_component0 {
    width: 65%;
    margin: 1rem auto;
    font-family:  'Arturo';;
  }

  .places_market_component1 {
    width: 65%;
    margin: 1rem auto;
    font-family:  'Arturo';;
  }

  .places_market_component2 {
    width: 65%;
    margin: 1rem auto;
    font-family:  'Arturo';;
  }

  .places_market_component3 {
    width: 65%;
    margin: 1rem auto;
    font-family:  'Arturo';;
  }

  .links_farmersdata {
    font-size: 25px;
    font-family:  'Arturo';;
    padding: 10px 15px;
    width: 145px;
  }
}



.main {
  max-width: 500px !important;
  padding: 0 !important;
  border: 1px solid #3aa54b80;
  border-radius: 40px;
  font-family:  'Arturo';;
}

.btn {
  width: 130px;
  height: 40px;
  font-size: 15px !important;
  border-radius: 30px !important;
  background: linear-gradient(105.42deg, #3aa54b 33.61%, #107c55 80.31%);
  font-family:  'Arturo';;
}

.btn:hover {
  background: linear-gradient(90deg,
      rgba(16, 124, 85, 1) 0%,
      rgba(58, 165, 75, 1) 100%);
}

sup {
  font-size: 15px;
  color: red;
}


.red {
  background: linear-gradient(91.3deg, #E03538 17.31%, #C4094C 88.09%);
}

.green {
  background: linear-gradient(105.42deg, #3AA54B 33.61%, #107C55 80.31%);
}

.select-market-grid {
  align-items: center;
  justify-content: center;
  padding-top: 45px !important;
}

.btn-holder {
  display: flex;
}


@media (max-width: 550px) {

  .searchButton{
        position: sticky;
        justify-items: center;
        left: 12.5rem;
  }
  .main {
    border: none;
    border-radius: 0;
    font-family:  'Arturo';;
  }

  .box2 {
    padding: 20px !important;
    font-family:  'Arturo';;
  }

  .select-market {
    border-radius: 30px !important;
    font-family:  'Arturo';;
  }

  .btn {
    width: 120px;
    height: 35px;
    font-size: 12px !important;
    font-family:  'Arturo';;
  }

  sup {
    font-size: 12px;
    font-family:  'Arturo';;
  }

  .farmers_navigate {
    padding: 0 !important;
    font-family:  'Arturo';;
  }

  .links_farmersdata {
    margin: 5px;
    padding: 30px 15px;
    font-size: 15px;
    font-family:  'Arturo';;
  }

  .select-market-grid {
    padding-top: 20px !important;
    font-family:  'Arturo';;
  }

  .textfield {
    border-radius: 30px !important;
    font-family:  'Arturo';;
  }

  .backbtn {
    width: 10rem;
    padding: 1rem 1.5rem !important;
    font-family:  'Arturo';;
  }

}



.transimg>img {
  width: 15vw;
  height: 25vh;
  position: absolute;
  opacity: 0.2;
}

.transimgr>img {
  width: 15vw;
  height: 25vh;
  position: absolute;
  opacity: 0.2;
  margin-left: 85%;
}

@media (max-width: 545px) {

}
@media (max-width: 450px) {

}
@media (max-width: 400px) {
  .add-submit {
    margin-left: 0rem;
  }
}
@media (max-width: 370px) {
  .add-submit {
    margin-left: -1rem;
  }
}
@media (max-width: 300px) {
  .add-submit {
    margin-left: -4rem;
  }
}
@media (max-width: 768px) {
  .transimg>img {
    width: 40vw;
    height: 20vh;
    position: absolute;
    opacity: 0.2;
  }

  .transimgr>img {
    width: 40vw;
    height: 20vh;
    position: absolute;
    opacity: 0.2;
    margin-left: 65%;
  }
}
.select_market{

  font-family:  'Arturo';;
  height: 80px;
}
.outward-heading{
  margin-bottom: 2rem!important ;
  font-family:  'Arturo';;
}

.MuiAutocomplete-inputRoot {
  height: 100%; 
  font-family:  'Arturo';;
}

@media (max-width: 1290px) {
  .searchButton{
    left:'45rem'
  }
}
.stall-booking-lable{
  font-weight: 600;
}
.pageBottom{
  height: 100px;
}
@media(max-height: 700px){
  .pageBottom {
    height:100px;
  }
}