.home_container {
  width: 100%;
  height: 100%;
  position: relative;
 
}
.home_container select{
 margin: 10px 10px 0px 22px;
 width: 90px;
 height: 25px;
 font-size: larger;
 padding-top: 5px;
}

.book-btn-section {
  padding: 0rem;
  margin-top: 1rem;
  margin-bottom: -2rem;
  text-align: center;
  line-height: 10;
  color: #212529;
}

.book-btn-section>h1 {
  font-size: 30px;
  font-weight: 600;
  font-display: block;
  line-height: 2;
}

.book-btn-section>h2 {
  font-size: 22px;
  font-weight: 600;
  font-display: block;
  line-height: 2;
}

.first_section {
  width: 100%;
  display: flex;
  padding: 2rem;
  flex-direction: row;
  align-items: center;
  min-height: 80vh;

}

.first_section_component {
  display: flex;
  margin-bottom: 4rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.first_section_header {
  color: #65645a;
  font-family: 'Arturo';
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  padding: 1rem;

}

.first_image_section {
  width: 150px;
  height: 100px;
}

.first_section_text {
  letter-spacing: 1.75px;
  padding: 0.2rem;
  text-transform: capitalize;
}

.first_section_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 20px;
}

.bookstall_btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #2a8000;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  border-radius: 0.25rem;
  border-width: 0;
  margin-right: 1rem;
}

.bookstall_btn_about {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #2a8000;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  border-radius: 0.25rem;
  border-width: 0;
}

.bookstall_btn:hover {
  cursor: pointer;
  background-color: #6bc479;
}


.first_section_image {
  width: 83%;
}

.knowmore_btn {
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #FF0000;
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  border-radius: 0.25rem;
  border-width: 0;
}

.knowmore_btn:hover {
  cursor: pointer;
  background-color: #6bc479;
}

.image_header {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.25rem;
}

.second_section_wrapper {
  display: flex;
  flex-direction: column;
}

.second_section_aboutus>h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.second_section_aboutus>p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.second_section {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height: 50vh;
  margin: auto;
  align-items: center;
}

.second_section_component {
  width: 100%;
  height: 25%;
  padding: 10px;
  margin: auto;
}

.second_section_component_arrow {
  width: 12%;
  height: 100%;
}

.second_section_img {
  width: 100%;
  height: 100%;
}

.location_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}

.third_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 0;
}

.third_section_details {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.third_section_header {
  color: #111827;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.third_section_p {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

.location_component {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem auto;
}


.title_info {
  width: 80vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.p_style {
  margin: 1rem 6rem;
  text-align: center
}

.fourth_section {
  width: 80vw;
}

.headers_section {
  margin: 3rem;
  font-size: 2rem;
}




.location_container {
  padding: 0.5rem;
  width: 100%;
}

.location_component_main {
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  height: 20vh;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #E5E7EB;
  transition: all .2s ease;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.location_component_main:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.location_image_main {
  object-fit: cover;
  object-position: center;
  margin-right: 1rem;
  background-color: #F3F4F6;
  flex-shrink: 0;
  width: 6rem;
  height: 6rem;
  border-radius: 9999px;
}

.places_main_wrapper {
  flex-grow: 1;
}

.location_markets {
  padding-top: 1.5rem;
  font-size: 1.3rem;
  color: #111827;
  font-weight: 200;
}

.location_date {
  color: #6B7280;
}

.measure_data {
  color: #6B7280;
  font-weight: bolder;
  font-size: larger;
}


@media (min-width: 1024px) {

  .third_section_p {
    width: 66.666667%;
  }

  .location_container {
    width: 33.333333%;
  }

  .first_section_component {
   
    flex-grow: 1;
  }

  .first_section_image {
    width: 100%;
    max-width: 50rem;
  }
}

@media (max-width: 550px) {
  .bookstall_btn_about {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #2a8000;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: center;
    border-radius: 0.25rem;
    border-width: 0;
  }
}

@media (max-width: 768px) {
  .location_component {
    width: 80%;
    margin-left: 4rem;
    margin-top: 0px;
  }

  .bookstall_btn_about {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #2a8000;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.75rem;
    text-align: center;
    border-radius: 0.25rem;
    border-width: 0;
  }

  .location_component_main {
    height: 80px;
  }

  .location_container {
    width: 47.9%;
    height: fit-content;
  }

  .location_image_main {
    width: 1.5rem;
    height: 1.5rem;
  }

  .places_main_wrapper>a>h2 {
    font-size: 1rem;
  }

  .places_main_wrapper>p {
    font-size: 0.8rem;
  }

  .first_section {
    flex-direction: column;
    min-height: 65vh;
  }

  .first_section_component {
    text-align: left;
    align-items: center;
    width: 70%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first_section_header {
    font-size: 2rem;
  }

  .first_section_image {
    width: 100%;
  }

  .second_section {
    flex-direction: column;
    min-height: 60vh;
  }

  .second_section_component {
    width: 80%;
  }

  .location {
    width: 300px;
    height: 250px;
  }

  .info_scroll {
    flex-direction: column;
  }

  .third_section {
    margin-top: 0px;
    padding-top: 0px;
  }
}


@media (max-width: 640px) {
  .second_section_aboutus {
    font-size: 1.3rem;
    margin-top: 2rem;
  }

  .first_section_header {
    font-size: 1.5rem;
  }

  .first_section_btn {
    width: 200px;
    font-size: 0.6rem;
  }

  .third_section_header {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .third_section_p {
    font-size: 1.3rem;
  }
}

.fourth_section {
  padding: 6rem 6rem 1rem 12rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fourthsec_content {
  display: flex;
  flex-direction: column;
  
  line-height: 1.5;
}

.fourthsec_content>h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.fourthsec_content>h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #2a8000;
}

.fourthsec_content>p {
  font-size: 1.5rem;
  font-weight: 400;
  width: 9 0%;
}

.fourthsec_pic {
  width: 42rem;
  height: 22rem;
}

@media (max-width: 768px) {
  .fourth_section {
    padding: 3rem;
    width: 100%;
    margin: auto;
    text-align: center;
    flex-direction: column;
  }

  .fourthsec_content {
    width: 100%;
    margin: auto;
  }

  .fourthsec_pic {
    width: 100vw;
    height: 30vh;
  }
}

.fifth_section>h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.fifth_section>p {
  font-size: 1.5rem;
  margin: auto;
  width: 70%;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.measure_container {
  display: flex;
  width: 1170px;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 7rem;
  padding-left: 5rem;
  
}
div.measure_box :hover{
  box-shadow: #c3c7ce;
}

.measure_box {
  border-radius: 10%;
  padding: 3% 5% 3% 5%;
  margin: 2% 2% 4% 2%;
  width: 20%;
  line-height: 1.5;
  text-align: center;
  border: solid 1px lightgray;
  box-shadow: 0px 0px 10px 3px lightgrey;
}

.measure_icon {
  object-position: center;
  margin-right: 1rem;
  background-color: white;
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
}


@media (max-width: 768px) {

  .measure_container {
    width: 80%;
    flex-direction: row;
    column-gap: 1px;
    padding-left: 0px;
    margin-right: 2.5rem;
  }

  .inner-box {
    height: 120px;
  }

  .measure_box {
    width: 28%;
    height: 14rem;
  }

  .measure_wrapper>p {
    font-size: 1rem;
  }

  .location {
    width: 300px;
    height: 250px;

  }

  .info_scroll {
    flex-direction: column;
  }

  .measure_icon {
    margin-top: 20px;
    width: 2.5rem;
    height: 2.5rem;
  }

  .measure_wrapper>.location_markets {
    padding-top: 1rem;
    font-size: 1rem;
  }
}




.keys {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  padding-top: 2rem;
}

.keyfeature_section>h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.keyfeature_container {
  margin: auto;
  text-align: right;
  font-family: 'cairo', serif;
}



@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}


.keyfeature_container>ol.listed {
  counter-reset: li;
  list-style: none;
  padding: 0;
}

.keyfeature_container>ol.listed li.a {
  position: relative;
  display: block;
  border-radius: 50px;
  width: 80%;
  text-align: center;
  padding: 1.2em 0.5em 1.2em 0.5em;
  margin: 2rem 3rem;
  background: #65a765;
  color: #fff;
  text-decoration: none;
  transition: all .3s ease-out;
  font-size: 1.2rem;
  font-weight: 600;
}

.keyfeature_container>ol.listed li.a:hover {
  background: #90ee90;
}

ol.listed li.a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  right: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #C8102E;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 100%;
}

.keyfeature_container>ol.listed li.a:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  right: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

.keyfeature_container>ol.listed li.a:hover:after {
  right: -.5em;
}

.keys>img {
  width: 40vw;
  height: 50vh;
}

@media (max-width: 768px) {
  .keys {
    flex-direction: column;
    width: 100%;
    padding-right: 4rem;
    padding-top: 0px;
  }

  .keys>img {
    width: 80vw;
    height: 30vh;
    padding: 0 1rem 0 1rem;
    margin-left: 3.5rem;
  }
}





.transimg>img {
  width: 15vw;
  height: 25vh;
  position: absolute;
  opacity: 0.2;
}

.transimgr>img {
  width: 15vw;
  height: 25vh;
  position: absolute;
  opacity: 0.2;
  margin-left: 85%;
}

@media (max-width: 768px) {
  .keyfeature_container>.listed {
    height: 150px;
  }

  .keyfeature_container>ol.listed li.a {
    padding: 0.5em 2px 0.5em 2px;
    margin: 1rem 3rem;
    font-size: 1rem;
    font-weight: 200;
    transition: all .2s ease-out;
  }

  .transimg>img {
    width: 40vw;
    height: 20vh;
    position: absolute;
    opacity: 0.2;
  }

  .transimgr>img {
    width: 40vw;
    height: 20vh;
    position: absolute;
    opacity: 0.2;
    margin-left: 65%;
  }
}


.carousel22 {
  width: 100%;
  height: 600px;
}

.carousel22 img {
  width: 92%;
  height: 85%;
  margin-top: 4rem;
  margin-left: 5rem;
  border: #2a8000 solid 1px;
  border-radius: 30px;
}


.Label {
  font-family: cursive;
  color: #0a0606;
  font-size: 2.5rem;
}

.caption {
  color: #0a0606;
  font-size: 1.25rem;
  font-family: cursive;
}

.cc {
  text-align: left;
  padding-bottom: 20.25rem;
  bottom: 0rem;
  left: 5rem;
  width: 40%;
}

.carousel {
  margin-bottom: 0rem;
}

@media only screen and (max-width: 780px) {
  .cc {
    top: 3rem;
    left: 2rem;
    right: 2rem;
    margin: auto;
    width: 70%;
    text-align: center;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    margin-top: 3rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .carousel22 img {
    margin-top: 15px;
    margin-left: 1.8rem;
    width: 90%;
    height: 30%;
  }

  .carousel-inner {
    height: 200px;
  }



  .carousel {
    height: 180px;
    margin-bottom: 1rem;
  }

  .book-btn-section {
    margin-top: 1rem !important;
    padding: 1rem !important;
    margin-bottom: 0px !important;
    text-align: center;
    line-height: 5 !important;
    color: #212529;
    background: linear-gradient(91.3deg, #ddd3d42b 17.31%, #adbac645 88.09%);
  }

  .bookstall_btn {
    padding: 0.5rem;
    background-color: #2a8000;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.75rem;
  }

  .book-btn-section>h1 {
    font-size: 1.5rem !important;
    font-weight: 600;
    font-display: block;
    line-height: 2;
  }

  .book-btn-section>h2 {
    font-size: 15px!important;
    font-weight: 600;
    font-display: block;
    line-height: 2;
  }

}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
  transform: rotate(180deg);
}

.navigate {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00CC99;
  padding: 0.6rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: bold;
  font-size: 0.95rem;
  border: 0px;

}

