*{
    font-family:  'Arturo';;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 84vh;
    flex-direction: column;
    font-size: 1.5rem;
}

.profile_container{
    width: 80vw;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile_image_wrapper{
    min-width: 40vw;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.profile_img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 1px solid green;
    background: #0edf0e33;
}

.profile_btn_grp{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: fit-content;
}

.profile_btn_toggle {
    width: 15rem;
    padding: 15px;
    border: none;
    background: linear-gradient(105.42deg, #3AA54B 33.61%, #107C55 80.31%);
    margin: 1rem auto;
    border-radius: 30px;
    color: white;
}

.profile_details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    line-height: 1.5;
}

.form_uploaddata{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    padding: 1rem;
    height: 25vh;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



@media only screen and (max-width: 600px) {
    .profile_container {
        box-shadow: none ;
    }
    .form_uploaddata {  
        height: 35vh;
    }
}
.pageBottom{
    height: 100px;
  }
  @media(max-height: 700px){
    .pageBottom {
      height:150px;
    }
  }