* {
  font-family: 'Arturo' !important;
}

.bookingdate{
  max-width: 50rem;
}
.sub {
  margin: auto;
  width: 100%;
  padding: 10px;
  height: 100vh;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  background-image: linear-gradient(315deg, #A42A56 0%, #590926 64%);

  width: 80rem;
  padding: 3rem 0 0 2rem;
  margin: 15px auto;
  border-radius: 30px;
  margin-top: 10rem;
}
.input-div-holder {
  
  position: relative;
}
.grids{
  margin-top: 10px;
}
.subscribe>h3 {
  margin-top: 10px;
}

.header {
  margin-top: 10px;
  text-align: center;
  margin-left: 0%;
}
.backbtn{
  margin-left: 17px;
  position: relative;
  top: 17px;
}

@media (max-width: 550px) {
  .subscribe {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: flex-start;
      background-image: linear-gradient(315deg, #A42A56 0%, #590926 64%);
      width: 30rem;
      padding: 3rem 0 3rem 3rem;
      
      border-radius: 30px;
      min-width: 34rem;
      margin-top: 10rem;
    }
  .bookingdate{
    margin-bottom: -2rem;
  }
  .input-div-holder{
    position: relative;
  }
  #demo-simple-select-helper-label {
    font-size: 2rem !important;
    color: grey !important;
  }
               
  .backbtn {
    display: inline-block;
    width: 10rem;
    padding: 0.7rem 0.5rem;
    margin-top: 20px;
    
    top: -5px;
  }

  .subscribe {
    width: 300px;
    margin-top: 8rem;
  }

  .header {
    margin-bottom: 8px;
    font-size: 1.5rem;
  }

  .stallsleft>h4 {
    padding-right: 2.5rem !important;
  }

  .h2 {
    margin-left: 30px;
    margin-bottom: 8px;
    padding-left: 100px !important;
  }

  .textfield {
    margin-bottom: 8px;

  }

  .field1 div {
    width: 270px;
    margin-left: -50px;
    margin-bottom: 20px;
  }

  .field2 div {
    width: 270px;
    margin-left: -50px;
  }




}




#demo-simple-select-helper-label {
  font-size: 1.2rem !important;
  color: grey !important;
}

.stallsleft,
.stallslefts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
}

.downtext {
  border-top: #d2d2d2 solid 1px;
  font-size: 1rem;
  color: white;
  width: 100%;
}

.stallsleft>h1 {
  padding-bottom: 1rem;
  font-size: 5rem;
  color: white;
  font-weight: 600;
}

.stallsleft>h4 {
  padding-right: 11rem;
  padding-top: 2.5rem;
  color: white;
  font-size: 1.5rem;
}

.startdate {
  color: #d1d1d1;
  margin-top: 1rem;
  margin-bottom: 0px;
}

.subscrp-heading {
  margin-top: 3rem;
  background: linear-gradient(105.42deg, #3AA54B 33.61%, #107C55 80.31%);
  padding: 1rem;
  color: white;
  margin-bottom: 2rem;
}

@media (max-width: 370px) {
  .subscribe {
    display: flex;

    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    background-image: linear-gradient(315deg, #A42A56 0%, #590926 64%);
    width: 30rem;
    padding: 3rem 0 3rem 3rem;
    
    border-radius: 30px;
    min-width: 32rem;
    margin-top: 10rem;
  }
}

@media (max-width: 300px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    background-image: linear-gradient(315deg, #A42A56 0%, #590926 64%);
    width: 27rem;
    padding: 3rem 0 3rem 3rem;
    
    border-radius: 30px;
    min-width: 25rem;
    margin-top: 10rem;
  }
}
.pageBottom{
  height: 100px;
}
@media(max-height: 700px){
  .pageBottom {
    height:50px;
  }
}