.invoice-box{
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    font-size: 1rem;
    line-height: 24px;
    font-family:  'Arturo';;
    font-weight:normal;
    width: 60%;
    height: 80%;
    margin: 2rem auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.invoice_details{
    font-size: 1.3rem;
    float:left;
    
    width:500px;
    font-weight: bold;
}
.invoice_flex_box{
    display: flex;
    width:100%;
}
.invoice_image{
    width:300px;
    
    height: 350px;
    float:right;
}

.thanks{
    text-align: center;
}

.bookings_buttons{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.btns_bookings{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 1rem;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgb(159, 159, 204);
}

.btns_bookings:hover{
    background-color: rgb(182, 184, 205);
    cursor: pointer;
}

@media (max-width: 500px) {

    .invoice-box{
        width: 90%;
        min-height: 80vh;
        margin: auto;
    }
    .bookings_buttons{
        width: 100%;
        margin: 0;
        justify-content: space-between;
    }

    .btns_bookings{
        width: 50%;
        margin: 1rem 0.5rem;
        text-align: center;
        font-size: 1rem;
    }
}